<section class="p-5 flex flex-col min-h-full">
  <layout-header />
  <div class="flex-grow flex">
    <div class="p-15 flex-grow flex flex-col justify-center items-center gap-6">
      <div class="flex flex-col justify-center items-center gap-3">
        <h2 class="text-4xl font-bold uppercase">Plus qu'une todo List !</h2>
        <p class="text-md">En plus c'est gratuit.</p>
        <p class="mt-4 max-w-125 text-center">
          Créer un compte, c’est rapide, aussi facile que cocher une tâche
          accomplie. Arrêtez d'oublier. Commencez à cocher.
        </p>
      </div>
      <app-home-singnup></app-home-singnup>
      <form>
      </form>

    </div>
  </div>
</section>
